
@{
    ViewBag.Title = "ListMakanan";
}

<link href="~/Content/Plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />

<div class=" container-fluid" style="margin-top:11rem;justify-content:center">



    @* List Makanan Table*@
    <div class="row">
        <div class="col-12">
            <div class="card-box shadows">

                <div style="margin-top:2px;">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="Table_List_Makanan" style="width:fit-content;margin:auto">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Tanggal</th>
                                    <th>Department</th>
                                    <th>Lokasi</th>
                                    <th>Status</th>
                                    <th>omh_alasan</th>
                                    <th>Pembuat</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal For Delete data -->
    <div class="modal fade" id="Modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container d-flex pl-0">
                        <h5 class="modal-title ml-2" id="exampleModalLabel">Delete Detail Order ?</h5>
                    </div> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Are you sure you want to Delete Detail Order?</p>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button> <button type="button" class="btn btn-success" data-dismiss="modal" id="BtnDelete">Delete</button> </div>
            </div>
        </div>
    </div>
</div>

@*Table*@
<script src="~/Content/Scripts/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Plugins/datatables/jquery.dataTables.min.js" defer></script>


<script>
    var noOrder = '';
    var getPembuat = '@Session["Username"]';
     function GetListMakanan() {
         var dept = '@Request.RequestContext.HttpContext.Session["Dept"]';


         //var omh_number = document.getElementById("Table_List_Makanan").rows[0].cells.item(0).innerHTML;

        var object = {
            Department:dept
            //omh_no=omh_number
        }
        $.ajax({
            url: 'GetListMakanan',
            type: 'post',
            data: JSON.stringify(object),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',

            success: function (json) {
                $('#Table_List_Makanan tbody').empty();

                var table = $('#Table_List_Makanan').DataTable({
                    "pageLength": 10,
                    "autoWidth": false,
                    "lengthChange": true,
                    "data": json,
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "OMH_NO" },
                        { "data": "TANGGAL" },
                        { "data": "OMH_DEPT" },
                        { "data": "OMH_LOKASI" },
                        { "data": "STATUS" },
                        { "data": "OMH_ALASAN_REJECT" },
                        { "data": "OMH_USERID" },
                        {
                            "data": null,
                            
                            "render": function (data) {
                                if (data.OMH_USERID == getPembuat) {
                                    return "<button class='btn btn-primary selectlist'  style='background-color: orange; margin-right: 5px;width:3vw' id='selectlist' type='button' >Edit</button>" +
                                        '<input type="button" class="btn btn-danger"style="width:3vw" id="Delete" data-toggle="modal" data-target="#Modal_Delete" data-backdrop="static"  value="Delete" />'
                                } else {
                                    return "<button class='btn btn-primary selectlist'  style='background-color: orange; margin-right: 5px;width:3vw' id='selectlist' type='button' disabled >Edit</button>" +
                                        '<input type="button" class="btn btn-danger"style="width:3vw" id="Delete" data-toggle="modal" data-target="#Modal_Delete" data-backdrop="static"  value="Delete" disabled />'
                                }
                            }
                        }
                    ],
                    "order": [[0, 'dsc']],
                    "columnDefs": [

                        {
                            "targets": '_all',
                            "className": 'dt-center',
                            "width": "5%"
                        },
                        { 'visible': false, 'targets': [5] }
                    ]
                });

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }

        });
    }

    function DeleteOrder() {
        var dictlist = {
            Option: "DELETE",

            OMH_NO:noOrder

        }
        var dto = {
            Model: dictlist
        }


        $.ajax({
            url: '../Form/DynamicController?spname=SP_DYNAMIC_CONTROLLER',
            type: 'post',
            data: JSON.stringify(dto),
            dataType: 'json',
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (json) {
                swal({
                    title: "Delete Success",
                    text: "Success to Delete Order!",
                    type: "success"
                },
                    function () {
                        GetListMakanan();
                    }
                );
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }

        });
    }
        var selectlist = false;

    $(document).ready(function () {
        GetListMakanan();
        $('.Delete').prop('disabled', false); //TO ENABLE

        $('#Table_List_Makanan').on('click','tbody tr .selectlist' ,function () {
            var rows = $(this).closest('tr');
            selectlist = true;
            var data = $('#Table_List_Makanan').DataTable().row(rows).data();


            omh_no = $("TD", rows).eq(0).html();

            //alert(omh_no)

            //Set local storage
         @*   localStorage.setItem("listmakanan", JSON.stringify(data));*@

            window.location.href = ('../Form/FormOrder?ListMakananid=' + data["OMH_NO"] + '/' + data['STATUS']);
        });

        //Klik button Delete di modal Delete Detail
        $('#BtnDelete').click(function () {
            DeleteOrder();
        });

        //Klik button Delete di table detail
        $('#Table_List_Makanan tbody').on('click', 'input[id="Delete"]', function () {
            var row = $(this).closest("TR");
            var table = $('#Table_List_Makanan').DataTable();
            var tblrow = table.row(row).data();

            noOrder = tblrow["OMH_NO"];
        })


    });


</script>
